name: Update universes

on:
  schedule:
    # this should run right after most of harvesting is finished on data.gouv.fr
    - cron: '4 5 * * *'
  workflow_dispatch:

jobs:

  run-update:
    runs-on: ubuntu-latest
    concurrency:
      # TODO: enable concurrency? make sure git commits don't step on eachother
      group: no_concurrency
      cancel-in-progress: false
    strategy:
      # max-parallel=1 as workaround to preserve matrix execution order
      # https://github.com/actions/runner/issues/703
      max-parallel: 1
      matrix:
        universe:
          - ecospheres-demo
          - ecospheres-prod
    environment: ${{ matrix.universe }}
    env:
      CONFIG_FILE: configs/${{ matrix.universe }}.yaml
      DIST_FILES: dist/${{ matrix.universe }}/organizations-*.json
      LOG_FILE: logs/${{ matrix.universe }}.log

    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Update ${{ matrix.universe }} universe
        env:
          DATAGOUV_API_KEY: ${{ secrets.DATAGOUV_API_KEY  }}
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          PYTHONUNBUFFERED: 1
        run: |
          uv run ecospheres-universe feed-universe ${{ env.CONFIG_FILE }} --fail-on-errors 2>&1 | tee ${{ env.LOG_FILE }}
          exit ${PIPESTATUS[0]}

      - name: Commit artifacts
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add ${{ env.LOG_FILE }}
          git commit -m "workflow: update daily run log for ${{ matrix.universe }}"
          git add ${{ env.DIST_FILES }}
          git diff-index --cached --quiet HEAD || git commit -m "workflow: update organizations JSONs for ${{ matrix.universe }}"

      - name: Push changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git pull --rebase origin ${{ github.ref_name }}
          git push
