name: Update universes

on:
  schedule:
    # this should run right after most of harvesting is finished on data.gouv.fr
    - cron: '4 5 * * *'
  workflow_dispatch:

jobs:

  run-update:
    runs-on: ubuntu-latest
    concurrency:
      # TODO: enable concurrency? make sure git commits don't step on eachother
      group: no_concurrency
      cancel-in-progress: false
    strategy:
      # max-parallel=1 as workaround to preserve matrix execution order
      # https://github.com/actions/runner/issues/703
      max-parallel: 1
      matrix:
        universe:
          - ecospheres-demo
          - ecospheres-prod
    environment: ${{ matrix.universe }}
    env:
      CONFIG_FILE: configs/${{ matrix.universe }}.yaml
      ARTIFACTS_BRANCH: artifacts
      # FIXME: remove when front uses the new artifacts branch
      # -- start remove --
      DIST_FILES: dist/${{ matrix.universe }}/organizations-*.json
      # TODO: remove once front has moved to new dist files
      DIST_FILES_COMPAT: dist/organizations-*-{demo,prod}.json
      LOG_FILE: logs/${{ matrix.universe }}.log
      # -- end remove --

    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync

      - name: Ensure expected dirs exists
        run: |
          mkdir -p dist/${{ matrix.universe }}
          mkdir -p logs

      - name: Update ${{ matrix.universe }} universe
        env:
          DATAGOUV_API_KEY: ${{ secrets.DATAGOUV_API_KEY  }}
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          PYTHONUNBUFFERED: 1
        run: |
          uv run ecospheres-universe feed-universe ${{ env.CONFIG_FILE }} --fail-on-errors 2>&1 | tee ${{ env.LOG_FILE }}
          exit ${PIPESTATUS[0]}

      - name: Create artifacts worktree
        id: create-worktree
        env:
          ARTIFACTS_WORKTREE: ${{ runner.temp }}/${{ env.ARTIFACTS_BRANCH }}-worktree
        run: |
          git fetch origin ${{ env.ARTIFACTS_BRANCH }}
          git worktree add --track -b ${{ env.ARTIFACTS_BRANCH }} $ARTIFACTS_WORKTREE origin/${{ env.ARTIFACTS_BRANCH }}
          echo "ARTIFACTS_WORKTREE=${{ env.ARTIFACTS_WORKTREE }}" >> $GITHUB_ENV

      - name: Commit artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          cp -a dist logs $ARTIFACTS_WORKTREE
          # FIXME: remove when front uses the new artifacts branch
          # -- start remove --
          git add ${{ env.DIST_FILES }} ${{ env.DIST_FILES_COMPAT }} ${{ env.LOG_FILE }}
          git commit --no-verify -m "workflow: update daily run for ${{ matrix.universe }}"
          git pull --rebase origin ${{ github.ref_name }}
          git push
          # -- end remove --
          pushd $ARTIFACTS_WORKTREE
          git add .
          git commit --no-verify -m "workflow: update daily run for ${{ matrix.universe }}"
          git pull --rebase origin ${{ env.ARTIFACTS_BRANCH }}
          git push
          popd

      - name: Delete worktree
        if: always() && steps.create-worktree.outcome == 'success'
        run: git worktree remove $ARTIFACTS_WORKTREE
